.main_div_histoire_page{
    display: flex;
    width: 100%;
    height: 87vh;
    top: 80px;
    position: absolute;
}

#side_menu_histoire_div{
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 2vh;
    border: 1px solid #333;
}

#side_menu_histoire_div div {
    height: 9.5vh;
    width: auto;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    flex: 1;
    transition: box-shadow 0.5s ease-out;
}

/* Style de base pour tous les SVG */
.menu_item svg {
    padding: 8px 7px 80px 12px;
    border-radius: 0px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.48); */
    position: absolute;
    top: -2px;
    left: -6px;
    overflow: visible;
    border-right: 1px solid #333;
}

/* Hover sur l'icône */
/* .menu_item:hover svg {
    padding: 7px 345px 95px 7px;
    border-radius: 10px 20px 50px 20px;
} */


.menu_item {
    position: relative; 
    overflow: hidden;
}

/* Triangle décoratif en haut à gauche */
.menu_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    border-top: 0px solid rgba(193, 193, 193, 0.6);
    border-right: 0px solid transparent;

    z-index: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    pointer-events: none;

    transition: border-top-width 1s ease, border-right-width 1s ease;
}

.menu_item:hover::before {
    border-top-width: 500px;
    border-right-width: 500px;
}


.menu_item svg {
    position: absolute;
    z-index: 1;
}

/* .menu_item:hover svg{
    padding: 7px 355px 86px 7px;
} */


/* Style des titres */
.menu_item h2 {
    color: #333;
    transition: color 0.5s ease-out;
    padding-left: 40px;
}

/* Changement de couleur du titre au hover */
/* #formation_geologique_title svg {
    background-color: rgba(249, 197, 209, 1); 
} */

/* #formation_geologique_title:hover h2{
    color: rgb(252 44 92);
} */

/* #exploitation_carriere_title svg {
    background-color: rgba(252, 213, 206, 1); 
} */

/* #exploitation_carriere_title:hover h2{
    color: rgb(255 97 69);
} */

/* #techniques_creusement_title svg {
    background-color: rgba(255, 243, 176, 1); 
} */

/* #techniques_creusement_title:hover h2{
    color: rgb(255 223 43);
} */

/* #inspection_general_carrieres_title svg {
    background-color: rgba(193, 244, 210, 1); 
} */

/* #inspection_general_carrieres_title:hover h2{
    color: rgb(46 255 116);
} */

/* #carrieres_en_catacombes_title svg {
    background-color: rgba(229, 213, 249, 1);
} */

/* #carrieres_en_catacombes_title:hover h2{
    color: rgb(138 46 254);
} */

/* #geographie_souterraine_titre svg {
    background-color: rgba(205, 221, 253, 1); 
} */

/* #geographie_souterraine_titre:hover h2{
    color: rgb(36 109 255);
} */

/* #cataphile_title svg {
    background-color: rgba(255, 209, 220, 1);
} */

/* #cataphile_title:hover h2{
    color: rgb(255 50 99);
} */



#side_menu_histoire_div div{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0px;
}

#side_menu_histoire_div div h2{
    padding-left: 36px;
    z-index: 2;
    font-size: 1.5vw;
}

/* #side_menu_histoire_div div:first-child {
    border-radius: 14px 4px 4px 4px;
} */

#side_menu_histoire_div div:last-child {
    /* border-radius: 4px 4px 4px 14px; */
    border-top: 1px solid #333;;
}

#side_menu_histoire_div div:not(:first-child):not(:last-child) {
    /* border-radius: 4px; */
    border: 1px solid #333;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* #side_menu_histoire_div div{
    border: 1px solid #333;
    border-bottom: none;
} */

#side_menu_histoire_div .selected{
    /* box-shadow: 0 0 10px 2px #a7a7a7; */
    background-color: rgba(193, 193, 193, 0.6);;
}

#main_text_infos_div p{
    text-align: justify;
}

#main_text_infos_div{
    flex: 8;
    overflow-y: scroll;
    scrollbar-color: #333 transparent;
    background: #fff;
    padding: 1vw 2vw;
    margin: 0 1vw -2px 0px;
    border-radius: 0;
    border: 1px solid #333;
    border-left: none;
}

#formation_geologique_div, #exploitation_carrieres, 
#techniques_creusement, #inspection_general_carrieres_div, 
#geographie_souterraine_div, #carrieres_en_catacombes_div,
 #cataphile_div {
    display: none;
    opacity: 0;
}

/* Display img on side text */
.display_img_side{display: flex!important;}
.block{display: block!important;}

.text_img_side{flex: 6}

.img_side{flex: 1}

.text_video_side{flex: 4;}

.video_side{flex: 2}

.maxW460{max-width: 36vw;}

.large_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_text_double{display: flex; margin: 2vh 0;}

.display_text_double span{flex:1; text-align: justify;margin: 0 3vh;}
.display_img_side { margin-bottom: 2rem; }

.display_img_side,
.text_video_side,
.video_side {
  display: block;
}

.display_multiple_img{
    display: flex; 
}
.display_video{flex: 5}
.display_img{flex: 2; display: inline;}
.display_img img{
    width: 96%;
    /* height: 50%; */
}

.history_infos_div{
    margin-bottom: 150px;
    transition: opacity .5s ease-out;
}

/* grid avec video et images */
.parent_grid_video_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.7fr 0.7fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 9vh;
}



.video_div_grid { grid-area: 1 / 1 / 6 / 4; }
.main_img_grid { 
    grid-area: 1 / 4 / 4 / 6; 
    background: url("https://catacombes.xyz/Histoire/assets/Images/exploitation/Plan_de_Lutece_dresse_par_Albert_Lenoir.webp")
    center center;
    background-size: cover;
    border-radius: 10px;
}
.second_small_img_grid { 
    grid-area: 4 / 4 / 6 / 5; 
    background: url("https://catacombes.xyz/Histoire/assets/Images/exploitation/Geologie_d_une_carriere_parisienne.webp")
    center center;
    background-size: cover;
    border-radius: 10px;
}
.third_small_img_grid { 
    grid-area: 4 / 5 / 6 / 6; 
    background: url("https://catacombes.xyz/Histoire/assets/Images/exploitation/font_de_taille_ciel_ouvert_gallo_romaine.png")
    center center;
    background-size: cover;
    border-radius: 10px;
}

#plan_catacombes_paris_1857_img{
    width: 50%;
    margin: 5vh 25%;
}

.display_two_img{display: inline-flex;}
.display_two_img div, .display_two_img figure {flex:1;}
.display_two_img div img, .display_two_img figure img{width: 94%; height: 51vh;margin: 4vh 2%;}

.display_two_img {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 2rem 0;
}

.display_two_img figure {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.display_two_img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.display_two_img figcaption, figcaption {
    margin-top: -1.5rem;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-bottom: 0.5vh;
}

#link_plan_jouvin{
    margin-top: -0.5rem;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

#carriere_hautil_img{
    width: 60%;
    margin: 2vh 20%;
}
