.displayRooms{
    width: 100%;
    height: 100vh!important;
    position: absolute;
    scrollbar-color: transparent transparent;
    margin-top: 0em;
    padding-top: 11vh;
    overflow-y: scroll; 
    text-align: center; 
}

.displayRooms:after {
    content: '';
    clear: both;
}

.displayRooms .parentDivRoomInfo_new:nth-child(3n+3) {
    position: relative;
    top: 275px;
}

.displayRooms.search-active .parentDivRoomInfo_new:nth-child(3n+3) {
  top: 0 !important;
}

.div_infos_page{
    width: 387px;
    position: absolute;
    top: 27vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 238px;
    border-radius: 20px;
    transition: opacity .3s ease-out, top .5s ease-out;
}

.div_infos_page p{
    font-size: 20px;
    padding: 15px 10px;
}

.parentDivRoomInfo_new{
    width: 385px;
    height: 550px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    user-select: none;
    box-shadow: 0px 0px 0px 0px #a0a0a0;
    display: inline-grid;
    margin: 3vh;
    filter: brightness(0.8);
    transition: box-shadow .5s ease-out,filter .3s ease, transform .3s ease;
}

.parentDivRoomInfo_new:hover{
    box-shadow: 0px 0px 26px 0px #a0a0a0;
    filter: brightness(0.9);
}

.titleRoom_new{
    font-size: 45px;
    color: #fff;
    text-transform: lowercase;
    top: 10px;
    position: absolute;
    width: 100%;
}

.display_buttons{
    position: absolute;
    bottom: 15px;
    align-items: center;
    width: 100%;
} 

.display_buttons a{
    margin: 0 4px;
}

.display_text_div_infos{
    bottom: 0px;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(168, 244, 252, 0) 0%, var(--color-bg, #ffffff) 100%);
    border-radius: 0 0 18px 18px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    padding: 200px 0 50px 0;
}

.textRoom_new{
    height: 150px;
    width: 349px;
    text-align: justify;
    overflow-y: scroll;
    scrollbar-color: #333 transparent;
    scrollbar-width: none;
    margin-left: 16px;
    padding-bottom: 26px;
    margin-bottom: -10px;
    mask-image: linear-gradient(to bottom, black 60%, transparent 91%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 91%);
}

.buttonRedirect3D {
    border-radius: 6px;
    text-decoration: none;
    border: #978e8e 1px solid;
    color: #000;
    font-size: 18px;
    padding: 3px 12px;
    backdrop-filter: blur(0px);
    transition: box-shadow 0.5s ease-out, backdrop-filter 0.5s ease-out;
    text-align: center !important;
    align-items: center;
    transition: padding .5s ease-out, background .5s ease-out;
}

.buttonRedirect3D:hover{
    padding: 3px 20px;
    background-color: #fff;
}

.location_room, .deepth_room{
    color: #fff;
    position: absolute;
    mix-blend-mode: plus-lighter;
}

.deepth_room{
    top: 70px;
    right: 112px;
    text-align: center;
    display: grid;
}

.deepth_room svg{
    width: 100%;
}

.location_room{
    top: 70px;
    left: 60px;
    display: grid;
    width: 150px;
}

.location_room svg{
    text-align: center;
    align-items: center;
    margin: auto;
}

.searchContainer {
    position: fixed;
    width: fit-content;
    top: 8vh;
    left: 49.5%;
    transform: translateX(-50%);
    z-index: 99;
}

/* Search bar */
.search_bar {
    font-size: 20px;
    position: relative;
    height: 4vh;
    width: 40vh;
    border-radius: 10px;
    border: none;
    padding: 0 14px;
    z-index: 1;
    background: rgb(255 255 255 / 49%);
    box-shadow: 0 2px 12px 0 rgb(31 38 135 / 20%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: #fff;
}