@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&display=swap');

*{
    cursor: none!important;
}
.canvas_rooms{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.retourButton{
    background: #ececec;
    border-radius: 5px;
    position: absolute; 
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 20px; 
    margin-left: 40px;
    color: #000; 
    text-decoration: none;
}

.loadingPercent, .title_rooms{
    z-index: 99999; 
    color: #ffffff; 
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin:0;
    position: fixed; 
    right: 3%;
    transition: transform 3s ease-out;
}

.title_rooms{
    width: 17vw;
    opacity: 1;
    border-radius: 15px;
    padding: 1vh;
    /* background: rgba(255, 255, 255, 0.25); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    opacity: 0; 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: 6vw;
    user-select: none;
    transition: opacity 1s ease-out, right .9s ease-out;
}

.deepth_div svg{margin-bottom: -6px;}

.deepth_div p{
    margin: 0;
    padding: 2px 0;
}

#text_info_room{
    height: 16vw;
    max-height: 16vw;
    overflow-y: scroll;
    scrollbar-color: #000 transparent;
    margin: 0;
}

#close_infos_div{
    position: absolute;
    right: -16px;
    top: -16px;
    border: 2px solid rgba(255, 0, 0, 0);
    background: rgb(0 0 0 / 83%);
    border-radius: 50%;
    border: 1px solid rgb(179 179 179 / 70%);
    transition: background .5s ease-out, border .5s ease-out;
}

#close_infos_div:hover{
    background: #fb534c;
    border: 1px solid red;
}

.informations_small{
    right: -70px;
    position: fixed;
    background: #fff;
    rotate: -90deg;
    padding: 5px 20px;
    top: 10vw;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2vw;
    border-radius: 10px 10px 0 0;
    user-select: none;
    cursor: pointer;
    transition: right .5s ease-out;
    z-index: 9;
}

.informations_small p{
    margin: 0; 
}

.loadingPercent{
    font-size: 10rem;
    bottom: 0%!important;
}

.title_rooms h2{
    margin: 0vh;
    font-size: 2vw;
}

.title_rooms p{
    color: #fff;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 1.1vw;
    text-align: justify;
    text-transform: math-auto;
}

.background_filter{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 4px 10px;
    margin-bottom: 0.2vw!important;
}

#location_room a {
    color: #ffffff !important;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    right: -1.5vw;
}

#all_room_buttons{
    border-radius: 5px;
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 40px;
    left: 1vw;
    color: #000;
    text-decoration: none;
    font-size: 1vw;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

#VRButton{
    position: fixed;
}

.return_button_3D_page{
    position: fixed;
    background: #fff;
    padding: 3px 17px 3px 5px;
    top: 4vw;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2vw;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    transition: right .5s ease-out;
    z-index: 9;
    left: 1.5vw;
    border: none;
}

.return_button_3D_page{
    margin-bottom: -4px;
}