@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: none!important;
}

h1, h2, h3, a{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300!important; 
}

p, figcaption, input{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

figcaption{
    font-weight: 200;
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: -14px;
}

.main_title_home{
    color: #020304!important; 
}

#burger_span{
    user-select: none;
}

html,
body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

body h1 {
    position: fixed;
    top: 8px;
    left: 50px;
    z-index: 6;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

body h1 > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    color: #ebe9e9;
    font-size: 1.75rem;
    letter-spacing: 0.65px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #020304;
}
  
body input + label {
    position: fixed;
    top: 16px;
    left: 22px;
    height: 20px;
    width: 15px;
    z-index: 5;
}

body input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: 0.5s;
}

body input + label span:first-child {
    top: 3px;
}

body input + label span:last-child {
    top: 16px;
}

.nav_menu_display{
    display: none;
}

body label:hover {
    cursor: pointer;
}

body input:checked + label span {
    opacity: 0;
    top: 50%;
}

body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}

body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

body input ~ nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    user-select: none;
}

body input ~ nav > ul {
    position: absolute;
    top: 22%;
    left: 5%;
}

body input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}

body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    transition: -webkit-text-stroke-color 0.8s ease-out, -webkit-text-stroke-width 0.8s ease-out;
}

body input ~ nav > ul > li > a:hover{
    color: #fff!important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 0.15rem;
    border-right: 0.5px solid #fff;

}

body input:checked ~ nav {
    height: 100%;
    /* width: 17%; */
    width: 19rem;
    transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
}

.displayRooms{
    margin-top: 0em;
    padding-top: 11vh;
    overflow-y: scroll; 
    /* height: 42rem;  */
    text-align: center; 
}

.search_bar{
    font-size: 3vh;
    position: relative; 
    height: 4vh;
    width: 40vh;
    border-radius: 10px; 
    border: none; 
    padding-left: 7px;
    z-index: 1;
}

.searchContainer {
    position: absolute;
    width: fit-content; 
    margin-top: 6vh;
    left: 40%;
}

.icon-tabler-search {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 2;
}

.parentDivRoomInfo{
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) repeat(2, 0.7fr);
    width: 40%; 
    /* height: 43%; */
    height: 23rem;
    margin: 1em 2em;
    padding: 5px 10px; 
    background: rgba( 255, 255, 255, 0.5 );
    border-radius: 10px;
    border: 0.3px solid #d2caca;
    transition: box-shadow 0.5s ease-out, backdrop-filter 0.5s ease-out, opacity 0.4s ease-out;
}

.parentDivRoomInfo:hover, .parentDivPrezSecond:hover{
    box-shadow: 0 8px 32px 0 rgba( 153, 157, 196, 0.5 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.parentDivPrezSecond:hover{
    cursor : pointer;
}

.loading-bar{
    position: absolute;
    top: 190px;
    left: 45.8%;
    width: fit-content;
    background: transparent;
    z-index: 2;
    opacity: 1;
    transition: opacity 2s ease-out;
}

.loading-bar.ended{
    opacity: 0;
}

.display_loading_text{
    color: #fff; 
    text-align:center;
    margin-top: -18px;
}

.grass_loading_elem{
    width: 64px;
    position: absolute;
    top: 185px;
    left: -30px;
}

.grass_loading_elem_second{
    width: 64px;
    height: 50px;
    position: absolute;
    top: 169px;
    left: -33px;
}

.glass_morph_style{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 75px 75px 10px 10px;
    border: 3px solid rgb(255 255 255 / 55%); 
}

#loading_bar_percent {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    transition: opacity 0.5s ease-in-out; 
}

.titleRoom { 
    grid-area: 1 / 1 / 2 / 7; 
    padding-left: 5px; 
    padding-top: 8px; 
    text-align: left;
    text-transform: uppercase;
    font-size: 1.9rem;
}

.textRoom { 
    grid-area: 2 / 1 / 5 / 4;
    text-align: -webkit-left;
    padding: 0px 5px;
    font-size: 1.3rem;
    overflow-y: scroll;
    scrollbar-color: #d1cece transparent;
}

.adressRoom{ 
    grid-area: 5 / 1 / 6 / 4; 
    text-align: left; 
    white-space: pre-line; 
    padding-top: 5px; 
    padding-left: 6px;
}

.buttonVR { grid-area: 5 / 4 / 6 / 5; margin-right: 0em!important}
.button3D { grid-area: 5 / 5 / 6 / 6; }
.buttonAR { grid-area: 5 / 6 / 6 / 7; margin-left: 0em!important}

.buttonRedirect3D{
    margin: auto; 
    padding: 10px; 
    border-radius: 10px;
    text-decoration: none;
    border: #978e8e 1px solid; 
    color: #000;
    font-size: 1.3rem; 
    padding: 8px 12px;
    backdrop-filter: blur( 0px );
    transition: box-shadow 0.5s ease-out, backdrop-filter 0.5s ease-out;
}

.buttonRedirect3D:hover{
    box-shadow: 0 8px 32px 0 rgba( 153, 157, 196, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.imgRoom{
    grid-area: 2 / 4 / 5 / 7;
    background-size: contain;
    width: 65%; 
    height: 90%; 
    border-radius: 5px;
    margin: auto;
}

ul{
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
}

.display_all_rooms_main_div{
    display: inline-flex; 
    background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    cursor: pointer;
    transition: 0.5s box-shadow ease-out, 1s background ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display_all_rooms_main_div:hover{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35); 
    background: rgba( 255, 255, 255, 0.9 );
}

.small_name_room_homepage{
    margin: auto;
}

.display_all_rooms_small{
    position: fixed; 
    right: -180px; 
    top: 5rem; 
    width: 10rem;
    background: #ffffff40; 
    z-index: 1; 
    height: 77%; 
    border-radius: 10px; 
    max-height: 76%; 
    overflow-y: scroll;
    padding: 5px 8px;
    opacity: 0;
    transition: 0.8s right ease-out, 0.7s opacity ease-out;
}

.display_all_rooms_small::-webkit-scrollbar {
    display: none;
}

.card_v1, .card_v2{
    width: 25%;
    transform-origin: center 150%;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
    position: absolute;
}

.small_cards_rotation{
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.card_0{
    z-index: 1;
}

.display_all_rooms_button, .display_infos_button{
    position: fixed;
    right: 0px;
    top: 325px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1;
    background: #FFF;
    padding: 20px 5px;
    border-radius: 5px 0 0 10px;
    text-transform: uppercase;
    display: inline-flex;
    opacity: 1;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    transition: 0.8s right ease-out, 0.7s opacity ease-out;
}

.small_image_room_homepage{
    width: 35%;
    border-radius: 10px; 
}

/* Images */
.parentTextExplications {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 17.9em);
    margin: 3rem 1rem; 
    overflow-y: scroll; 
}

.image1 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url("https://catacombes.xyz/assets/images/porteClose_ruePinel_catacombes.jpg");

}

.image2 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("https://catacombes.xyz/assets/images/crypte_atlasCatacombes_catacombes.jpg");

}

.image3 {
    grid-area: 2 / 4 / 3 / 5;
    background-image: url("https://catacombes.xyz/assets/images/salleDesRadios_ValDeGrace_catacombes.jpg");
}

.image4{
    grid-area: 2 / 5 / 3 / 6;
    background-image: url("https://catacombes.xyz/assets/images/escalierCimetiereMontparnasseEtageInferieur_catacombes.jpg");
}

.image5{
    grid-area: 3 / 5 / 4 / 6;
    background-image: url("https://catacombes.xyz/assets/images/acqueducArcueil_catacombes.jpg");

}

.image6{
    grid-area: 4 / 4 / 5 / 5;
    background-image: url("https://catacombes.xyz/assets/images/bunker_catacombes.png");

}

.image7{
    grid-area: 1 / 4 / 2 / 5;
    background-image: url("https://catacombes.xyz/assets/images/doubleEscalier_CabinetMineralogieLHuillier_catacombes.jpg");

}

.image8{
    background-image: url("https://catacombes.xyz/assets/images/salleSolcarlus_catacombes.jpg");
}

.image9{
    background-image: url("https://catacombes.xyz/assets/images/tombePhilibertAspairt_catacombes.jpg");
}

.image10{
    grid-area: 2 / 2 / 3 / 3;
    background-image: url("https://catacombes.xyz/assets/images/acqueducArcueil_catacombes.jpg");
}

.image11{
    grid-area: 2 / 1 / 4 / 2; 
    background-image: url("https://catacombes.xyz/assets/images/couloirCatacombes_catacombes.jpg");
}

.image12{
    grid-area: 4 / 2 / 6 / 3;
    background-image: url("https://catacombes.xyz/assets/images/salleApero_chauxAssas_catacombes.jpg");
}

.image13{
    grid-area: 4 / 1 / 5 / 2; 
    background-image: url("https://catacombes.xyz/assets/images/rueHonoreChevalierCatacombes_catacombes.jpg");
}

.image14{
    grid-area: 3 / 5 / 5 / 6;
    background-image: url("https://catacombes.xyz/assets/images/salleCube_catacombes.jpg");
}

.image15{
    grid-area: 5 / 1 / 6 / 2;
    background-image: url("https://catacombes.xyz/assets/images/fontaineDesChartreux_catacombes.jpg");
}

.image16{
    grid-area: 5 / 3 / 6 / 5;
    background-image: url("https://catacombes.xyz/assets/images/tombePhilibertAspairt_catacombes.jpg");
}

.image17{
    grid-area: 1 / 5 / 2 / 6;
    background-image: url("https://catacombes.xyz/assets/images/passeMuraille_catacombes.jpg");
}

.image18{
    grid-area: 3 / 2 / 4 / 3;
    background-image: url("https://catacombes.xyz/assets/images/SalleSarko_catacombes.jpg");
}

.image19{
    grid-area: 5 / 5 / 6 / 6;
    background-image: url("https://catacombes.xyz/assets/images/salleApero_chauxAssas_catacombes.jpg");
}

.image20{
    grid-area: 3 / 3 / 4 / 5;
    background-image: url("https://catacombes.xyz/assets/images/archeValDeGrace_catacombes.jpg");
}

.image21{
    grid-area: 5 / 5 / 6 / 6;
    background-image: url("https://catacombes.xyz/assets/images/SalleChateau_catacombes.jpg");
}

.image22{
    grid-area: 1 / 1 / 2 / 3;
    background-image: url("https://catacombes.xyz/assets/images/reservoirEauVanne_catacombes.jpg");
}

.image23{
    grid-area: 4 / 3 / 5 / 4;
    background-image: url("https://catacombes.xyz/assets/images/passeMuraille_catacombes.jpg");
}

.image24{
    grid-area: 4 / 3 / 5 / 4;
    background-image: url("https://catacombes.xyz/assets/images/salleSolcarlus_catacombes.jpg");
}

.image25 { 
    grid-area: 2 / 4 / 3 / 5; 
    background-image: url("https://catacombes.xyz/assets/images/salleSolcarlus_catacombes.jpg");
}

.marginPageimages{
    background-size: cover; 
    background-position: center; 
    margin: 10px; 
}

#bigThanks{
    width: 26em; 
    text-align: center;
    grid-area: 6 / 3 / 7 / 4;
}

#iconLinkDuval{
    margin-top: -1rem;
}

#facebookDuvalIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

#facebookDuvalIcon:hover svg {
    background: #e7881d;
    fill: #000; 
    border-radius: 5px;
    stroke: none;
}

#facebookDuvalIcon svg {
    stroke: #000;
    transition: stroke 0.2s ease-in-out;
}

#instagramDuvalIcon:hover svg{
    /* background: linear-gradient(to bottom, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%); */
    background: linear-gradient(to bottom, #01258f 0%, #0561e9 25%, #29d689 50%, #69d040 75%, #b0a42a 100%);
    stroke: #000;
    stroke-width: 2px;
    border-radius: 5px;
}

#instagramVIcon:hover svg{
    /* background: linear-gradient(to bottom, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%); */
    background: linear-gradient(to bottom, #01258f 0%, #0561e9 25%, #29d689 50%, #69d040 75%, #b0a42a 100%);
    stroke: #000;
    stroke-width: 2px;
    border-radius: 5px;
}

.iconeBurgerMenu{
    display: none;
    /* visibility: hidden; */
    text-align: center;
    margin-left: 1em;
    position: fixed;
    bottom: 1em;
}

.iconeBurgerMenu a{
    padding: 0 1rem;
}
  
#iconeLinkedin:hover svg {
    border-radius: 5px!important;
}

.icon-tabler-brand-linkedin:hover{
    border-radius: 5px;
}
  
#iconeLinkedin:hover svg path:first-child {
    transition: 0.3s;
    fill: #FF882A;
    stroke-width: 2px;
    stroke: #FFF;
}


#iconeLinkedin:hover svg path{
    transition: 0.3s;
    stroke: #000;
}

#iconeSite:hover svg path {
    transition: 0.3s;
    fill: #0048fc;
    stroke: #000;
}

#iconeSite:hover svg{
    border-radius: 5px;
    stroke: #000;
}

#iconeLinkedin:hover {
    stroke: #FFFFFF!important;
}

#iconeGit:hover svg path{
    transition: 0.3s;
    fill: #fdcfb3;
}

#iconeGit:hover svg path:nth-child(2) {
    transition: 0.3s;
    stroke: #000;
}

#iconeGit:hover svg{
    border-radius: 5px;
}

#iconeMail:hover svg path:nth-child(2) {
    transition: 0.3s;
    fill: #f92a5e;
}

#iconeMail:hover svg path{
    transition: 0.3s;
    fill: #f92a5e;
}

#iconeMail:hover svg path:nth-child(2), #iconeMail:hover svg path:nth-child(3) {
    transition: 0.3s;
    fill: #f92a5e;
    stroke: #000;
}

#iconeMail:hover svg{
    border-radius: 5px;
}

.textStroke{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #020304;
    color: #fff;
}

.parentMap {
    display: grid;
    background-image: url("https://catacombes.xyz/assets/images/paris.png");
    width: fit-content;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    border: #000000 solid 7px;
    place-self: center;
}

.petitMontrouge{
    grid-area: 21 / 14 / 28 / 17;
    background-color: rgb(115, 255, 0, 0.33);
}

.montparnasse{
    grid-area: 17 / 14 / 21 / 18;
    background-color: rgb(39, 83, 243, 0.33);
}

.notreDameDesChamps{
    grid-area: 12 / 14 / 17 / 17;
    background-color: rgb(231, 16, 16, 0.33);

}

.valDeGrace{
    grid-area: 14 / 17 / 17 / 19;
    background-color: rgb(223, 216, 13, 0.33);
}

.salpetriere{
    grid-area: 18 / 21 / 21 / 26;
    background-color: rgb(39, 235, 243, 0.33);
}

.gare{
    grid-area: 21 / 22 / 28 / 27;
    background-color: rgb(207 39 243 / 33%);
}

.maisonBlanche{
    grid-area: 21 / 19 / 28 / 22;
    background-color: rgb(255 152 0 / 0.33);
}

.textCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 2px;
    transition: box-shadow 0.5s ease-out, backdrop-filter 0.5s ease-out;
}

.textCenter:hover{
    box-shadow: 0 8px 32px 0 rgba( 153, 157, 196, 0.5 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.districtName{
    color: #484848;
    opacity: 1!important;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    /* -webkit-text-stroke: 0.5px #000; */
}

/* Small map */
.montrougeDiv{
    display: grid;
    /* margin-top: 2em; */
    display: none;
    opacity: 0;
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    margin: auto;
    /* width: 100%; */
    /* margin: 2em auto 0 auto; */
    /* transition: opacity 1s ease-out; */
}

.imageMapMontrouge{
    grid-area: 3 / 4 / 11 / 7;
    background-image: url("https://catacombes.xyz/assets/images/petitMontrouge.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    /* border: #000000 solid 11px; */
}

.parentDivPrezSecond{
    display: grid;
    grid-template-columns: repeat(3, 0.8fr) 0.7fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 2px 0px 2px 10px;
    background: rgba( 255, 255, 255, 0.5 );
    border-radius: 10px;
    border: 0.3px solid #d2caca;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    transition: box-shadow 0.5s ease-out, backdrop-filter 0.5s ease-out;
}

.parentDivPrezMain{
    grid-area: 3 / 1 / 4 / 3;
}

.titleRoomSmallDiv{
    grid-area: 1 / 1 / 2 / 4;
}

.locationRoomSmallDiv{
    grid-area: 2 / 1 / 4 / 4;
}

.imageRoomSmallDiv{
    grid-area: 1 / 4 / 4 / 5;
    width: 72%;
    margin: auto;
    padding-top: 3px;
    margin-right: 5px;
}

.depthSmallRoom{
    grid-area: 2 / 3 / 4 / 4;
}

.pointRoom{
    z-index: 99;
}

.gridAreaPrecise{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 0.85fr);
    height: 100%;
}

.retourButton{
    background: #ffffff;
    border-radius: 5px;
    position: absolute; 
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 6px; 
    margin-left: 5px;
    color: #000; 
    text-decoration: none;
    /* grid-area: 1 / 1 / 3 / 2;  */
    left: 5px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

/* Custom cursor */
.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(0.3);
    z-index: 1000;
    cursor: none!important;
}
  
.custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
    cursor: none!important;
}

#VRButton{
    left: calc(50% - 80px)!important;
    right: 0.6rem!important;
    background: #b7b7b770!important;
    color: rgb(240, 240, 240)!important;
    border: 1px solid rgba(200, 200, 200, 0.857)!important;
}

.imageOnClick{
    position: fixed;
    display: none; 
    margin: auto;
    margin: auto;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 48px 11px rgba(13,13,13,0.86); 
    box-shadow: 0px 0px 48px 11px rgba(13,13,13,0.86);
    width: 71%;
    height: 93%;
    top: 3%; 
    left: 14.5%; 
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

.selected_room_on_list{
    background: rgb(255 255 255 / 80%);
}

.icon-tabler-chevron-left, .icon-tabler-chevron-right{
    position: fixed;
    z-index: 99;
    top: 41%;
    mix-blend-mode: hard-light;
}

.icon-tabler-chevron-left{
    left: 8%;
}

.icon-tabler-chevron-right{
    right: 8%;
}

.icon-tabler-square-rounded-x{
    position: absolute;
    top: 3.5%;
    right: 14.9%;
    z-index: 99999;
    mix-blend-mode: hard-light;
}

.close_icon_infos{
    top: -22px; 
    right: -20px;
    mix-blend-mode: unset;
    cursor: pointer;
}

.arrow{
    display: none; 
    opacity: 0;
}

/* Cards page */
.explication_cards_text_div{
    grid-area: 1 / 1 / 4 / 5;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.explication_cards_video_div{
    grid-area: 1 / 6 / 4 / 11;
    position: relative;
    margin: auto;
}

.explication_text_card_second{
    background: #fff;
    width: 85%;
    height: 95%;
    border-radius: 25px;
    padding: 20px 30px;
    margin-left: 13%;
    transition: width 1s ease-out, height 1s ease-out;
}

.explication_card_video_second{
    /* position: absolute; */
    border-radius: 25px;
    /* text-align: center;
    top: 0; 
    right: 0; 
    transform: translate(-70%, 11.5%); */
}

.explication_video{
    width: 19rem;
    border-radius: 25px;
}

.text_explication_card{
    text-align: start;
    font-size: 1.8vw;
    padding-bottom: 0.7rem;
    padding-bottom: 1.5rem; 
    transition: opacity 1s ease-out;
}

.display_all_tracts_div{display: inline-flex;}

.display_all_tracts_div, .text_explication_card, 
.explication_video, .many_cards_display,.many_cards_display_v2, 
.show_image_verso_main_div_v1, .show_image_verso_main_div_v2
{
    transition: opacity 1s ease-out;
}

.background_filter{
    grid-area: 1 / 1 / 4 / 6;
    z-index: -1;
}

.see_card_bigger_image{
    width: 100%;
}

.see_card_bigger_image_verso{
    opacity: 0;
    position: absolute;
}

.show_image_verso_main_div_v1, .show_image_verso_main_div_v2{
    display:none;
    opacity: 0;
    text-align: center;
    position: relative;
}

.show_all_tracts_image_div{
    grid-area: 1 / 3 / 4 / 6;
    display:none; 
    opacity: 0;
}

.tract_card_V1{
    width: 5.5rem;
}

.text_card_v1{
    color: #000;
    width: fit-content; 
    font-size: xx-large; 
}

.div_display_card_main{
    background-color: whitesmoke;
    padding: 5px 10px; 
    border-radius: 14px; 
    width: max-content;
    height: 6rem;
    cursor: pointer;
    transition: box-shadow 1s ease-out;
}

#display_card_v2{margin: 0 20px;}

.div_display_card_main:hover{
    box-shadow: 0 3px 14px #b4b4b4;
}

.parent_text_explications_cards, .parent_lost_page {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(3, 1fr);
    margin: 3rem 1rem 1rem 1rem; 
    overflow-y: revert; 
    cursor: none; 
}

.parent_lost_page{
    /* background-image: url("https://catacombes.xyz/assets/images/plan_catacombes_ancien.webp"); */
    /* background-size: contain; */
    grid-template-rows: repeat(13, 1fr); 
    border-radius: 20px;
}

.background_image_lost{
    background-image: url("https://catacombes.xyz/assets/images/plan_catacombes_interdites_grs.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    filter: brightness(0.6);
    grid-area: 1 / 1 / 14 / 11;
}


.div_title_lost_page{
    grid-area: 6 / 4 / 10 / 8;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    padding: 20px;
}

.link_paloma_sanchez{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.link_paloma_sanchez:visited{
    color: #000;
}

.button_return_site{
    transition: box-shadow 0.5s ease-out, background-color 0.5s ease-out, border 0.5s ease-out; 
    border-radius: 20px;
    padding: 0 20px;
    width: fit-content;
    text-align: center;
    border: 1px solid #676767; 
}

.button_return_site:hover{
    background: #ffffff;
    /* backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px ); */
    box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.5 );
    border: 1px solid #fff; 

}

.text_lost{
    font-size: 3vw;
}

.button_return_site{
    font-size: 2vw;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.card {
    height: 557px;
    width: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.card:hover .card-front_v1, 
.card:hover .card-front_v2 {
    transform: rotateY(-180deg);
}

.card:hover .card-back_v1, 
.card:hover .card-back_v2 {
    transform: rotateY(0deg);
}

.many_cards_display, .many_cards_display_v2{
    height: 40rem;
    width: 40rem;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0; 
    display: none;
    transition: opacity 1s ease-out;
    margin-right: -20rem;
    margin-top: -2rem;
    position: relative;
}
  
.card-front_v1, .card-front_v2 {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card-front_v1{
    background-image: url(https://catacombes.xyz/assets/images/recto_tracts_v1.png);
}

.card-front_v2{
    background-image: url(https://catacombes.xyz/assets/images/many_cards_displayed/guerinet.png);
}

#video_card_v1, .display_v2_video{
    position: absolute;
    opacity: 0;
}

.display_v2_video{
    display: none;
}

#video_card_v2{
    border-radius: 6vh;
    position: relative;
    width: 90%;
    margin-left: 5%;
}
  
.card-back_v1, .card-back_v2 {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000000;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}
.card-back_v1 {
    background-image: url(https://catacombes.xyz/assets/images/verso_tracts_v1.png);
}

.card-back_v2{
    background-image: url(https://catacombes.xyz/assets/images/many_cards_displayed/wilde.png);
}

.display_video_card{
    grid-area: 1 / 7 / 2 / 10;
    display: inline-flex;
    margin: -6vh auto;
}

.display_video_card h3{
    background-color: #fff;
    border-radius: 10px;
    margin: 8vh 2vh 2vh 2vh;
    height: fit-content;
    padding: 5px 20px;
}

.close_card_viewer_v1, .close_card_viewer_v2{
    position: absolute;
    z-index: 3; 
    top: 0; 
    right: 0; 
    transform: translate(120%, -81%);
}

.connect_computer{
    display: none;
}

#language_site{
    position: fixed; 
    top: 0.6rem; 
    right: 0.4rem; 
    z-index: 4;
    background: #f1f1f1; 
    border-radius: 10px;
    padding: 7px; 
    font-size: 0.85rem; 
    font-weight: 900;
    text-transform: uppercase; 
}

#language_site:hover{
    box-shadow: 0 0 10px #e8e8e8;
    background: #101010; 
    color: #FFF;
}

.div_infos_catacombes{
    background: #fff;
    position: fixed;
    z-index: 999;
    margin: 10%;
    width: 80%;
    height: 60%;
    font-size: 25px;
    border-radius: 10px;
    display: none; 
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-top 1s ease-out;
}

.display_infos_button{
    top: 250px;
    border-radius: 10px 0 0 5px;
}

.display_links_page{
    position: fixed;
    right: -50px;
    top: 75%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1;
    background: #FFF;
    padding: 10px 4.5px;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
    display: inline-flex;
    opacity: 1;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    transition: 0.8s right ease-out, 0.7s opacity ease-out;
    width: fit-content;
}

.div_facebook_share_links, .div_twitter_share_links, 
.div_sms_ios_share_link, .div_whatsapp_share_link{
    padding: 6px 0;
    color: #000000!important;
}

.link_twitter:visited, .link_facebook:visited, 
.link_twitter:link, .link_facebook:link
.div_sms_ios_share_link:link, .div_sms_ios_share_link:link{
    color: #FFF;
}

.icon-tabler-brand-facebook:hover{
    border-radius: 5px;
    stroke: #000;
    fill: #000;
    background: #b09c69; 
    stroke-width: 0.2px;
}

.div_share_link{
    position: fixed;
    right: 0px;
    top: 83%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1;
    background: #FFF;
    padding: 10px 4.5px;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
    display: inline-flex;
    opacity: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.8s right ease-out, 0.7s opacity ease-out;
    width: fit-content;
}

.icon-tabler-brand-x:hover{
    border-radius: 5px;
    stroke: #fff; 
    background: #000;
}

.icon-tabler-message-circle-2:hover{
    border-radius: 5px; 
    background: #a30d8d; 
    stroke: #000; 
    stroke-width: 0.2px;
    fill: #000;
}

.icon-tabler-brand-whatsapp:hover{
    border-radius: 5px; 
    background: #f350e8;
}

.text_infos_catacombes{
    margin-top: 20px;
    padding: 0px 30px 0px 30px;
    /* max-height: -webkit-fill-available;  */
    font-size: 26px;
    /* overflow-y: scroll; */
    user-select: none;
}

.text_infos_catacombes::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #ffffff00; 
}

.text_en, .text_fr{
    max-height: -webkit-fill-available;
    overflow-y: scroll;
    display: none;
}

.text_infos_catacombes::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 10px;
}

/* Mode paysage */
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .parentDivRoomInfo{
        width: 70%; 
    }

    .parentTextExplications{
        height: 14em;
    }

    #bigThanks{
        width: 26em;
        position: relative;
        left: -8em;
        margin: 1em;
    }

    body input ~ nav > ul > li > a{
        padding: 0.3rem 2.4rem;
    }

    body input ~ nav > ul{
        top: 17%;
    }

    .districtName{
        font-size: 0.5rem;
    }

    .montrougeDiv{
        margin-top: 0.5em;
        grid-column-gap: 10px;
        grid-row-gap: 8px;
    }

    .titleRoomSmallDiv{
        font-size: 0.7rem;
    }

    .parentDivPrezSecond{
        height: 1.6rem;
    }

    .imageRoomSmallDiv{
        width: 50%;
    }

    #WEBXRButton{
        top: 2.5%!important;
        bottom: none; 
        left: 76%!important;
        height: 10px;
		background: #97979770!important;
        color: rgb(75, 75, 75)!important;
        border: 1px solid rgb(75, 75, 75)!important;
        padding: 8px 6px 14px 6px!important;
    }

    .icon-tabler-chevron-left{
        left: 3%;
        z-index: 9999;
    }
    
    .icon-tabler-chevron-right{
        right: 3%;
        z-index: 9999;
    }

    .icon-tabler-square-rounded-x{
        top: 2.8%;
        right: 14.5%;
    }

    .icon-tabler-chevron-left, .icon-tabler-chevron-right{
        top: 30%;
    }

    .display_all_rooms_small, .display_all_rooms_button{
        display: none; 
    }

    .explication_text_card_second{
        display: none;
    }

    .explication_cards_video_div{
        display: none;
    }

    .connect_computer{
        display: block;
        font-size: 5vw!important;
        width: 40rem;
        margin: auto;
        margin-top: -5%;
        margin-left: 20%;
    }

    .display_infos_button{
        display: none;
    }

    .display_links_page{
        top: 30%; 
        text-align: center;
        border-radius: 5px 0px 0 5px;
        padding: 10px 4.5px ;
    }

    .div_share_link{
        display: none;
    }

    .loading-bar{
        position: absolute;
        top: 60px;
        left: 40.5%;
        width: fit-content;
        background: transparent;
        z-index: 2;
        opacity: 1;
        transition: opacity 2s ease-out;
    }

    #VRButton{
        display: none!important;
    }
}

/* Mode portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .parentDivRoomInfo{
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(9, 1fr);
        width: 80%;
        height: 70%;
    }

    .titleRoom{
        grid-area: 1 / 1 / 2 / 6;
    }

    .textRoom{
        grid-area: 2 / 1 / 6 / 6;
        height: inherit;
    }

    .imgRoom{
        grid-area: 6 / 3 / 9 / 6;
        width: 70%;
        height: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .adressRoom{
        grid-area: 6 / 1 / 9 / 3;
    }

    .depthRoom{
        grid-area: 9 / 1 / 10 / 3;
    }

    .buttonVR{
        grid-area: 9 / 3 / 10 / 4;
    }

    .button3D{
        grid-area: 9 / 4 / 10 / 5;
    }

    .buttonAR{
        grid-area: 9 / 5 / 10 / 6;
    }

    .marginPageimages{
        height: 5em;
    }

    #bigThanks{
        width: 15em;
        position: relative;
        left: -6em;
        margin: 1em;
    }

    .parentTextExplications{
        height: 80em;
        grid-template-rows: repeat(5, 6em);
    }

    .image11, .image14, .image12{
        height: 11em;
    }

    body input:checked ~ nav{
        width: 25rem;
    }

    .iconeBurgerMenu{
        left: 4.3em!important;
    }

    .districtName{
        font-size: 0.7rem;
    }
    #VRButton{
        display: none;
    }

    .icon-tabler-chevron-left{
        left: -5%;
        z-index: 9999;
    }
    
    .icon-tabler-chevron-right{
        right: -5%;
        z-index: 9999;
    }

    .display_all_rooms_small, .display_all_rooms_button{
        display: none; 
    }

    /* Cards page */

    .card_page{
        overflow: scroll !important;
    }

    .parent_text_explications_cards{
        grid-template-rows: repeat(8, 1fr);
        height: max-content;
        overflow-y: scroll!important;
    }

    .explication_cards_text_div{
        grid-area: 1 / 1 / 4 / 11;
        margin: unset;
        padding: 10px;
    }

    .explication_text_card_second{
        width: 100%;
        padding: 20px 0; 
        height: 87%;
        margin-left: unset;
    }

    .text_explication_card{
        font-size: 6vw; 
        /* padding-bottom: -4rem; */
    }

    .div_display_card_main{
        height: fit-content;
        display: inline-flex;
        margin-left: 1rem;
        margin-top: 0.6rem;
        margin-bottom: 0.8rem;
    }

    .display_all_tracts_div{
        margin-top: -0.5rem;
    }

    .tract_card_V1{
        width: 3rem;
    }

    .tract_card_V1{
        padding-right: 0.5rem;
    }

    .explication_cards_video_div{
        grid-area: 3 / 1 / 8 / 11; 
    }

    .card-front_v1, .card-front_v2{
        height: 80%; 
        width: 80%;
        margin-top: 2rem;
        margin-left: 10px;
    }

    .close_card_viewer_v1, .close_card_viewer_v2{
        right: 30px;
    }

    .explication_cards_video_div{
        display: none;
    }

    .connect_computer{
        display: none;
    }

    .display_infos_button{
        display: none;
    }

    .display_links_page{
        top: 95%; 
        right: 30%;
        display: block;
        text-align: center;
        border-radius: 5px 5px 0 0px;
        padding: 4.5px 10px ;
    }

    .div_facebook_share_links, .div_twitter_share_links, 
    .div_sms_ios_share_link, .div_whatsapp_share_link{
        padding: 0px 6px;
    }

    .div_share_link{
        display: none;
    }

    .loading-bar{
        position: absolute;
        top: 80px;
        left: 29.5%;
        width: fit-content;
        background: transparent;
        z-index: 2;
        opacity: 1;
        transition: opacity 2s ease-out;
    }

    #VRButton{
        display: none!important;
    }
}

@media screen and (max-width: 600px)
{
    .display_all_rooms_small{
        display: none; 
    }

    .display_infos_button{
        display: none;
    }

    .div_share_link{
        display: none;
    }
}

@media screen and (orientation: portrait){
    .display_links_page{
        top: 95%; 
        right: 30%;
        display: block;
        text-align: center;
        border-radius: 5px 5px 0 0px;
        padding: 4.5px 10px ;
    }

    .div_share_link{
        display: none;
    }
}
  